<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AutoBrowser.Properties.Settings>
            <setting name="USR" serializeAs="String">
                <value />
            </setting>
            <setting name="PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="MAL" serializeAs="String">
                <value />
            </setting>
            <setting name="TIME" serializeAs="String">
                <value />
            </setting>
            <setting name="logDir" serializeAs="String">
                <value>c:\AutoBrowser_log\</value>
            </setting>
            <setting name="mongo" serializeAs="String">
                <value>mongodb://10.11.9.191:27017,10.11.42.37:27017,10.11.34.59:27017</value>
            </setting>
            <setting name="TOKEN" serializeAs="String">
                <value />
            </setting>
        </AutoBrowser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoBrowser.Properties.Settings>
            <setting name="path_local" serializeAs="String">
                <value>C:\\AutoBrowser_log\\list_p.txt</value>
            </setting>
        </AutoBrowser.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
