<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <AutoBrowser.Properties.Settings>
            <setting name="USR" serializeAs="String">
                <value/>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAL" serializeAs="String">
                <value/>
            </setting>
            <setting name="TIME" serializeAs="String">
                <value/>
            </setting>
            <setting name="logDir" serializeAs="String">
                <value>c:\AutoBrowser_log\</value>
            </setting>
        </AutoBrowser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoBrowser.Properties.Settings>
            <setting name="path1" serializeAs="String">
                <value>\\10.11.34.172\c$\list_p.txt</value>
            </setting>
            <setting name="path2" serializeAs="String">
                <value>\\10.11.22.51\d$\113720\list_p.txt</value>
            </setting>
            <setting name="path_local" serializeAs="String">
                <value>C:\\AutoBrowser_log\\list_p.txt</value>
            </setting>
            <setting name="id1" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="pw1" serializeAs="String">
                <value>1qaz!QAZ</value>
            </setting>
            <setting name="id2" serializeAs="String">
                <value>113720</value>
            </setting>
            <setting name="pw2" serializeAs="String">
                <value>113720</value>
            </setting>
            <setting name="con1" serializeAs="String">
                <value>10.11.34.172\c$</value>
            </setting>
            <setting name="con2" serializeAs="String">
                <value>10.11.22.51\d$</value>
            </setting>
        </AutoBrowser.Properties.Settings>
    </applicationSettings>
</configuration>
