<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <AutoBrowser.Properties.Settings>
            <setting name="USR" serializeAs="String">
                <value />
            </setting>
            <setting name="PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="MAL" serializeAs="String">
                <value />
            </setting>
            <setting name="TIME" serializeAs="String">
                <value />
            </setting>
            <setting name="logDir" serializeAs="String">
                <value>c:\AutoBrowser_log\</value>
            </setting>
            <setting name="mongo" serializeAs="String">
                <value>Server=10.11.9.191:27017</value>
            </setting>
        </AutoBrowser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoBrowser.Properties.Settings>
            <setting name="path_local" serializeAs="String">
                <value>C:\\AutoBrowser_log\\list_p.txt</value>
            </setting>
        </AutoBrowser.Properties.Settings>
    </applicationSettings>
</configuration>
